replicaCount: 2

image:
  repository: eslamzain99/zain-hotel-backend
  pullPolicy: IfNotPresent
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

config:
  DB_HOST: database
  DB_PORT: "5432"
  DB_USER: zain
  DB_NAME: hotel_db
  PORT: "8000"

secrets:
  DB_PASSWORD: zain123

service:
  type: ClusterIP
  port: 8000

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

httpRoute:
  enabled: true
  annotations: {}
  parentRefs:
    - name: gateway
      namespace: reddit
  hostnames:
    - backend.local
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /api

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

livenessProbe:
  httpGet:
    path: /health
    port: 8000

readinessProbe:
  httpGet:
    path: /health
    port: 8000

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []

volumeMounts: []

nodeSelector: {}

tolerations: []

affinity: {}
