httpRoute:
  enabled: true
  parentRefs:
    - name: gateway
      namespace: reddit

  hostnames:
    - hotel.local

  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: frontend
          port: 80
          weight: 1
